/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Montserrat:wght@700&display=swap');

/* ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline; scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh; margin-left: auto; margin-right: auto; min-height: 100vh }  
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
nav, header, section, footer { width: 100% }
nav *:last-child, header *:last-child, section *:last-child, footer *:last-child { margin-bottom: 0 }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }
h1, h2, h3, h4, p, li { word-break: break-word; hyphens: auto }

/* ============ CUSTOM PROPERTIES ============  */

:root {
    /* ==== Color variables ==== */
    --black-000: #000000;
    --white-000: #ffffff;
    --trans-000: transparent;

    --slate-050: #ECEFF1;
    --slate-100: #CFD8DC;
    --slate-200: #B0BEC5;
    --slate-300: #90A4AE;
    --slate-400: #78909C;
    --slate-500: #607D8B;
    --slate-600: #546E7A;
    --slate-700: #455A64;
    --slate-800: #37474F;
    --slate-900: #263238;

    --trend-bg-dark: #1b2631; /* Dark background color */

    /* ==== Font Variables ==== */
    --font-heading: 'Montserrat', sans-serif;
    --font-subheading: 'Lora', serif;
    --global-font: sans-serif;

    /* ==== Fluid font sizes ==== */
    --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
    --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
    --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
    --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
    --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
    --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
    --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
}

/* Global font */
body { font-family: var(--global-font); }

/* ================= ENDS ================ */

body {
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-size: var(--fs-xxxl);
    font-weight: normal;
    font-family: var(--font-heading);
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-size: var(--fs-xl);
    font-family: var(--font-heading);
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-size: var(--fs-md);
    font-family: var(--font-subheading);
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: var(--fs-base);
    margin-bottom: 16px;
}

a { 
    color: darkgreen;
    font-family: var(--font-subheading);
}

/* ============= CSS FOR HERO BLOCK ============= */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20% 4% 20%;
    text-align: center;

    background-color: var(--trend-bg-dark); /* Updated to a darker background */
    position: relative;
}

/* Set minimum height of hero block */
@media (min-width: 768px) { 
    header { min-height: 80vh } 
}
@media (max-width: 767px) { 
    header { min-height: 500px } 
}

.hero-text-container h1, 
.hero-text-container h2 {
    line-height: 1.2;
    color: #fff;
    text-shadow: 2px 2px #222;
}

.hero-text-container h1 {
    margin-bottom: 24px;
    font-size: var(--fs-xxxl);
    letter-spacing: -4px;
}

.hero-text-container h2 {
    font-weight: normal;
    font-size: var(--fs-xl);
    text-transform: uppercase;
}

/* ======== END CSS FOR HERO BLOCK ======== */

.slide-in-top {
	animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
 @keyframes slide-in-top {
    0% {
      transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-in-left {
	animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.hero-text-container {
    position: relative; 
    z-index: 2;
}    
    
.hero-bg-media {
    position: absolute; 
    top: 0; right: 0; bottom: 0; left: 0; 
    z-index: 0;
}
                    
.hero-bg-media * {
    object-fit: cover; width: 100%; height: 100%;
}

.bg-overlay {
  position: absolute; 
  top: 0; right: 0; bottom: 0; left: 0;  
  z-index: 1;
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));   
}
